* {
  margin: 0;
}

html,
body {
  color: rgb(180, 177, 5);
  background-color: black;
  font-family: 'Montserrat', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}


  /* ------ Form ------- */

.formContainer {
  max-width: 500px;
}

.contact {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 1fr 1fr 200px;
  column-gap: 10px;
  row-gap: 15px;
}

.formNameTitle {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.formEmailTitle {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.formMessageTitle {
  font-size: 15px;
}

.formNewsletterTitle {
  font-size: 15px;
}

  .textarea {
    height: 200px;
    resize: none;
    background: transparent;
    color: rgb(180, 177, 5);
  }
